a.carousel_horse target='_blank' href=image.attachment.url(:original, timestamp: false)
  .destroy data-url=portfolio_path(image, format: :json) : i.icon-trash
  img src=image.attachment.url(:original)
