-events_json = @user.events.to_json include: {event_type: {only: :name}}
-content_for :left do
  #events
  :javascript
    $(function() {
      window.router = new Kogdata2.Routers.EventsRouter({events: #{events_json.html_safe}});
      Backbone.history.start({root: '#{user_path current_user}'});
    });
