-content_for :left do
  #events
  :javascript
    $(function() {
      window.eventsRouter = new Kogdata2.Routers.EventsRouter({events: []});
      Backbone.history.start({root: '#{user_path current_user}'});
    });
