.container.main-container
  .row
    .span5
      #left-block.new_form_container
        .back_white_box
          = render 'form'
    .span7
      #right_block
        .back_white_box
          .calendar-container
            #calendar

%input{:id => 'title-for-show',:class => 'hidden'}
%textarea{:id => 'description-for-show',:class => 'hidden'}
%input{:id => 'date-input', :type => 'text'}

:coffee
  $(document).ready ->
    window.calendarNewEventController = new CalendarNewEventController()


