.back_white_box
  .to_right
    -#= link_to t(:edit_profile), '/', id: 'user_edit_button'
    -#  %i.icon-cog
  .row-fluid
    .user_avatar
      .avatar
        = image_tag current_user.avatar.url(:small)
    .right_user_panel
      %h1.info_user_name
        = current_user.name

      .right_user_panel
        .info-block
          %a.btn.btn-link-red#message_button{href: '#conversations/'}
            %i.icon-k-message
            Сообщения
        .info-block
          %a.btn.btn-link-red#my_events_button{href: '#events/'}
            %i.icon-k-event
              = '005'
            Мои события
